.nav_list {
	padding-top: 1em;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	list-style-type: none;
}

.link {
	font-weight: 500;
	font-size: 1.2em;
	width: 200px;
	color: black;
	padding: 1em 1em 1em 3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.link span {
	color: black;
}

.link_active {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.3em;
	font-weight: 500;
	width: 200px;
	color: rgb(102, 0, 128);
	padding: 1em 1em 1em 3em;
	border-right: 4px solid rgb(102, 0, 128);
}
