.link {
	display: flex;
	align-items: center;
	padding-left: 1em;
	color: black;
	font-size: x-large;
	font-weight: 700;
	color: rgb(86, 21, 207);
}

.link span {
	font-weight: 600;
	color: black;
	padding-left: 0.5em;
}

.profile {
	display: flex;
	align-items: center;
	margin-right: 2em;
}

.profile button {
	height: 50px;
	width: 50px;
	font-size: x-large;
	border: none;
	border-radius: 100px;
	padding: 0.4em;
	margin-right: 1em;
}

.avatar {
	font-size: x-large;
}
