.link {
	display: flex;
	align-items: center;
	padding-left: 1em;
	color: black;
	font-size: x-large;
	font-weight: 700;
	color: rgb(86, 21, 207);
}

.link span {
	font-weight: 600;
	color: black;
	padding-left: 0.5em;
}
